.container{
    background-image: url('../../assets/PizzaEditada.jpg');
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

button{
    margin: 5px;
    padding: 1rem 5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color: black;
    color: white;
}